h1 { font-family: "Josefin Sans"; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 10px; } 
h2 { font-family: "Josefin Sans"; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: "Josefin Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: "Josefin Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Josefin Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255,255,255,0.6)),url(../img/Home_img_galeria.jpg);
    background-size: cover;
    background-position: center ;

    overflow: visible;
    white-space:nowrap;
}   


.hero .slide{
    display: inline-block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10% ;
}
.logo{
    color: black;
    font-size: 28px;
}
nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #972F22 ;
    transition: .3s;
}

span {
    color: #972F22
}


body{
    margin: 0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,0.6);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}


.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

manual-btn{
    border: 2px solid #972F22;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #972F22;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}




.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content:center ;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #972F22;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #972F22;
}

#radio2:checked ~ .navigation-auto .auto-btn1{
    background: #972F22;
}