a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10% ;
}
.logo{
    color: black;
    font-size: 28px;
}
nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #972F22 ;
    transition: .3s;
}

span {
    color: #972F22
}


.table-obras {
    display: flex;
    justify-content: center;
    align-items: center;
    
}